.coming-soon-img{
    
}
.coming-soon-block{
    align-content: center !important;
    justify-content: center;
    display: flex;
    padding-top: 90px;

    &:before{
        content: "";
        align-content: center !important;
        justify-content: center;
        display: flex;
        position: absolute;
        width: 300px;
        height: 200px;
        background: url("./images/coming.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}
@media (min-width: 576px) { 
    .coming-soon-block{
        &:before{
            width: 400px;
            height: 265px;
        }
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .coming-soon-block{
        &:before{
            width: 579px;
            height: 401px;
        }
    }
 }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { 
//     .coming-soon-block{
//         &:before{
//             width: 300px;
//             height: 100px;
//         }
//     }
//  }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { 
//     .coming-soon-block{
//         &:before{
//             width: 300px;
//             height: 100px;
//         }
//     }
//  }