// .form-main {
//     max-width: 40%;
//     max-height: 10%;
// }

.submit-button > span{
    color: rgb(180, 1, 1);
}

.open-mess-modal{
    position: absolute;
    right: 10px;
    top: 80%;
}
.modal-title {
    background: rgb(22, 22, 22);
    h2{
        color: white;
    }
}