.open-mess-modal {
  position: fixed;
  right: 10px;
  top: 85%;
  z-index: 1; }

.modal-title {
  background: #161616; }
  .modal-title h2 {
    color: white; }

.form-main {
  min-width: 100px; }

.MuiDialog-paperWidthSm-131 {
  max-width: 600px;
  padding: 1 !important;
  margin: 0 !important; }

.MuiDialog-container-126 {
  min-height: 410px; }

@media (max-width: 576px) {
  .open-mess-modal {
    top: 80%; } }

.pagination-block {
  align-content: center !important;
  justify-content: center;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 47px;
  left: 0; }

.active .page-link {
  background: black !important;
  border-color: #1d1d1d !important;
  color: white; }

.page-link {
  color: black; }
  .page-link:hover {
    color: #5e5e5e !important; }

.main-image {
  height: 0;
  padding-top: 56.25%; }

.card-actions {
  margin-top: -40px;
  display: flex;
  padding: 0; }

.card-content {
  overflow-x: auto; }

.container-main {
  padding-top: 3.5rem !important; }

.app-toolbar {
  background-color: black !important; }

.header-link {
  color: white !important; }

.header-main-link {
  margin-left: 10px; }

footer {
  align-content: center !important;
  justify-content: center;
  display: flex;
  position: absolute;
  right: 0;
  left: 0;
  padding: 1rem;
  background: black;
  color: white; }

.footer-container {
  bottom: 0;
  width: 100%;
  padding-bottom: 6px;
  margin-top: 0px;
  padding-top: 12px; }

.coming-soon-block {
  align-content: center !important;
  justify-content: center;
  display: flex; }
  .coming-soon-block:before {
    content: "";
    align-content: center !important;
    justify-content: center;
    display: flex;
    position: absolute;
    width: 300px;
    height: 200px;
    background: #e9e9e9 url("./images/coming.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%; }

@media (min-width: 576px) {
  .coming-soon-block:before {
    width: 400px;
    height: 265px; } }

@media (min-width: 768px) {
  .coming-soon-block:before {
    width: 579px;
    height: 401px; } }

html {
  height: 100%;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%; }
