footer{
    align-content: center !important;
    justify-content: center;
    display: flex;
    position: absolute;
    right: 0;
    
    left: 0;
    padding: 1rem;
    background: black;
    color: white;
    
}
.footer-container{
    bottom: 0;
    width: 100%
}