<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a href="/login/">Login</a>
<a href="/logout/">Logout</a>
{{user.username}}
{{test}}

<div>
    <a href="/send/">Send</a>
</div>
{% for post in posts %}
<p>
    <a href="/post/{{post.id}}">{{ post.name }}</a>
    <!--{{ post.id }}-->

</p>

    {% endfor %}
</body>
</html>